@model IEnumerable<Projet.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resultat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipe.LibelleEquipe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resultat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipe.LibelleEquipe)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMatch }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMatch }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMatch })
        </td>*@
    </tr>
}

</table>
